<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserDao">
    <resultMap id="userMap" type="com.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
    </resultMap>

    <insert id="insert" parameterType="User"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO user
        (name,address)
        VALUES
        (#{name},#{address})
    </insert>

    <delete id="deleteById">
        delete
        from user
        where
        id=#{id}
    </delete>

    <update id="updateById" parameterType="User">
        update user
        <set>
            <if test="name!=null">name=#{name},</if>
            <if test="address!=null">address=#{address}</if>
        </set>
        where id=#{id}
    </update>

    <select id="selectById" resultMap="userMap">
        select *
        from user
        where
        id=#{id}
    </select>

    <select id="selectByMap" resultMap="userMap" parameterType="java.util.Map">
        select *
        from user
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="name!=null">and name=#{name}</if>
            <if test="address!=null">and address=#{address}</if>
        </where>
    </select>

</mapper>